@charset "UTF-8";

*{
    margin: 0; padding: 0;
}

:root{
    --cor1: #BDF2F2; --cor2: #05F2DB; --cor3: #0367A6; --cor4: #023059;
    --cor5: #033E8C;

    --fonte-principal: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html, main{
    font-family: var(--fonte-principal);
    font-size: 16px;
    background-color: var(--cor3);
}

a{
    text-decoration: none;
}

.limpar{
    clear: both;
}

                /*  ------- Cabeçalho ------- */
header{
    background-color: var(--cor4);
    text-align: center;
    padding: 10px;  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
}

header > h1{
    font-size: 3em;
    padding-bottom: 20px; padding-top: 15px;
    color: var(--cor2);
}

header > h1 span{
    color: white;
}

#burguer{
    color: var(--cor2);
    padding: 10px; display: block;
    text-align: center;
}

#burguer:hover{
    cursor: pointer;
    background-color: white; color: var(--cor5);
    border-radius: 5px;
}

nav#menu-principal{
    display: none;
}

nav#menu-principal > a{
    font-size: 1.2em;
    padding: 10px; margin: 10px;
    color: white;
}

nav#menu-principal > a:hover{
    background-color: white; color: var(--cor3);
    border-radius: 5px 5px 0px 0px;
}

                    /* ------- Principal ------- */
#principal{
    width: 920px;
    margin: 15px auto;
}

#postagens {
    font-size: 1.2em;
    width: 660px;
    float: left;
    border-radius: 5px;
}

.postagem{
    margin-bottom: 15px;
    background-color: white;
    width: 640px;
    padding: 10px;
}

.postagem h1{
    font-size: 2em;
    color: var(--cor4);
    margin: 5px 10px 0px 0px;
}

.postagem h5{
    color: #808080; 
    padding: 5px; margin: 0px 10px 10px 0px;
    border-bottom: 1px solid var(--cor4);
}

.postagem img{
    width: 100%;
    display: block;
}

.postagem a{
    font-size: 0.9em;
}

.postagem a, #recentes a, #categorias a{
    color: var(--cor5);
}

.postagem a:hover, #recentes a:hover, #categorias a:hover{
    text-decoration: underline;
    font-weight: bold;
}

                        /* ------- COnteúdos Laterais ------- */
 .lateral{
    width: 240px;
    background-color: white;
    float: right;
 }

 section.lateral aside{
    width: 100%;
    padding: 10px;
 }

 #recentes {
    margin-bottom: 15px;
 }

 #recentes h2, #categorias h2{
    font-size: 1.2em; color: white;
    background-color: var(--cor4);
    padding: 5px;
 }

 

 #recentes  a, #recentes  p{
    padding-bottom: 5px;
    display: block;
 }

 #categorias li > a{
    font-size: 1.1em; padding: 5px; margin: 5px;
 }

 #categorias ul{
   list-style-type: none;
 }

                    /* ------- COnteúdos Laterais ------- */
footer{
    padding: 10px;
    background-color: var(--cor1); color: var(--cor4);
    text-align: center;
    width: 900px;
    margin: auto;
    font-style: italic; font-size: 1.1em;
}