/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@charset "UTF-8";

/* Layout */
html, body, #home{
    height: 100vh;
}

body{
    background: url(../imagens/capa.png), url(../imagens/ruido.png),
     -o-linear-gradient(40deg, #ff4169, #7626f8);
    background: url(../imagens/capa.png), url(../imagens/ruido.png),
     linear-gradient(50deg, #ff4169, #7626f8);
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* Barra de Navegação */
nav.navbar-transparente{
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.6);
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgb(255,255,255);
    border-color: rgba(0,0,0,.1);
}

.divisor{
    width: 1px; background: #fff;
}

/* Capa */
.capa{
    text-align: center;
}

.btn-custom{
    color: #fff; text-transform: uppercase;
    border-radius: 500px;
    -webkit-transition: background 0.4s, color 0.4s;
    -o-transition: background 0.4s, color 0.4s;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

.btn-roxo{
    background-color: #7c25f8;
}

.btn-roxo:hover{
    background-color: #6207e3; color: #fff;
}

.btn-branco{
    color: #FFF; border: 2px solid #fff;
}

.btn-branco:hover{
    background-color: #FFF; color: #000;
}

/* Estrutura de conteúdos */
#servicos{
    background-color: #fff; padding-top: 20px; padding-bottom: 20px;
}

#servicos h2{
    font-size: 2.8em; padding-bottom: 10px;
}

#servicos h2, h3{
    color: #7c25f8;
}

#recursos h3{
    color: #9bf0e1;
}

#recursos h2, p{
    color: #fff;
}

/* Tipografia */
h1{
    font-weight: 900; letter-spacing: -0.05em;
    margin-bottom: 50px; color: #fff;
}

h2{
    font-size: 3em; font-weight: 700; letter-spacing: -0.04em;
}

h3{
    font-size: 2em; font-weight: 700; letter-spacing: -0.04em;
}