@charset "utf-8";

*{
    margin: 0; padding: 0;
}

body{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #fff url(../imagens/fundo.png) repeat-x;
}

body.home nav#nav-principal a#home, body.brasil nav#nav-principal a#brasil,
body.internacional nav#nav-principal a#internacional, body.economia nav#nav-principal a#economia, body.saude nav#nav-principal a#saude, body.home nav#nav-principal a#home, 
body.ciencia nav#nav-principal a#ciencia, body.fotos nav#nav-principal a#fotos{
    background-color: #de003e; color: #fff;
    cursor: text;
}

.limpar{
    clear: both;
}

main{
    width: 920px;
    margin: 0 auto;
}

img{
    width: 100%; border: 2px solid #dfdfdf
}

/* #primario img{
    
} */

                            /* Cabeçalho */
header{
    height: 150px; width: 920px;
    background: url(../imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
    margin: 0 auto;
}

header h1.logo{
    width: 152px; height: 66px;
    background: url(../imagens/logo.png) no-repeat center;
    text-indent: -800px;
}

ul{
    margin: 0; padding: 0;
    list-style-type: none;
}

nav#nav-principal ul{
    margin-top: 30px;
    background: #b10333;
    float: left;
}

nav#nav-principal ul li{
    float: inherit;
}

nav#nav-principal ul li a{
    display: block;
    font-size: 0.9em; line-height: 2.1em;
    padding: 0.5em 1.5em;
    text-decoration: none; color: #fff;
    background: url(../imagens/divisor.png) no-repeat left center;
}

nav#nav-principal ul .primeiro a{
    background: none;
}

nav#nav-principal ul li a:hover{
    color: #69001d;
} /* Fim Cabeçalho */

                            /* Principal */
section#conteudo{
    margin-top: 60px; margin-bottom: 20px;
    background-color: #f5f5f5;
    float: left;
}

section#primario, section#secundario{
    width: 270px;
    float: left;
}

#duas-colunas section#primario{
    float: left;
    width: 530px;
}

#duas-colunas section#primario p{
    text-align: justify;
    padding: 5px; line-height: 1.5em;
}

#uma-coluna section#primario{
    width: 750px;
    margin: 0 0 20px 0;
}

#uma-coluna section#primario h1{
    background-color: #69001d; color: #fff;
    padding: 10px; font-size: 1.3em;
}

#uma-coluna section#primario p{
    padding: 5px; line-height: 1.5em;
    text-align: justify;
}

#uma-coluna section#primario figcaption{
    font-style: italic; font-size: 0.7em;
    text-align: center; margin-bottom: 10px;
}

section#primario{
    margin: 0 0 20px 195px;
}

section#secundario{
    margin: 0 0 20px 15px;
}

#duas-colunas aside#lateral{
    width: 200px;
    float: left;
}

aside#lateral{
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

                                /* Caixa */
.caixa{
    margin: 10px 0; padding: 5px;
    background: #f3f3f3 url(../imagens/fundo-caixa.png);
}

.caixa-conteudo{
    background-color: #fff;
    padding: 5px; margin-top: 5px;
}

#lateral ul a{
    display: block;
    font-size: 0.9em; line-height: 30px; text-decoration: none;
    padding: 3px; color: #000; border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover{
    background: #f9f9f9 url(../imagens/marcador.png) no-repeat left center;
    color: #a1a1a1; padding-left: 20px;
}

#primario a, #secundario a{
    color: #de003e;
    font-size: 0.8em;
}

/* Títulos */
h2{
    font-size: 1em;
    background-color: #294c71; color: #fff;
    padding: 5px;
}

h3{
    text-transform: uppercase; display: inline;
    font-size: 0.8em; padding: 3px;
    background-color: #b10333; color: #fff;
}

#secundario h3{
    background-color: #de003e; color: #000;
}

/* Lista-notícias */
#lista-notícias li{
    padding: 2px; height: 62px;
    border-bottom: 1px solid #ccc
}

#lista-notícias li > a > img{
    width: 80px; float: left;
    margin: 5px; border: none;
}

#lista-notícias a{
    text-decoration: none; font-size: 0.7em;
    color: #294c71;
}

#lista-notícias a h3{
    font-size: 0.8em;
}

#lista-notícias li:hover{
    background-color: #ccc
}

#secundario #lista-notícias a h3{
    color: #eee;
}

/* Formulários */
label{
    display: block; cursor: pointer;
}

input{
    font-size: 0.9em; background-color: #fff;
    padding: 5px; width: 100%;
}

input[type="submit"]{
    width: 95px; cursor: pointer;
    background-color: #b10333;
    border: 2px solid #870529;
    margin-top: 2px; color: #fff;
    border-radius: 5px;
}

                                /* Rodapé */
footer{
    background-color: #294c71; 
    padding: 20px; text-align: center;
}

footer > p{
    width: 750px; margin: 0 auto;
    color: #fff;
}